.img-project {
    width: 250px;
    height: 250px;
}

.container-projects {
    text-align: center;
    margin-top: 64px;
}

.project-1 {
    text-align: center;
    background: rgb(4, 0, 30);
    background: linear-gradient(90deg, rgba(4, 0, 30, 1) 5%, rgba(4, 0, 30, 1) 100%);
}

.title-project {
    text-align: center;
    font-size: 1.75rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.description-project {
    font-size: 1.125rem;
    color: grey;
    text-align: center;

}

.link-project {
    display: inline-block;
    width: 19.5rem;
    height: 3.25rem;
    text-decoration: none;
    background-color: white;
    border-radius: 0.25rem;
    color: black;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
}

.link-repo {
    display: inline-block;
    width: 19.5rem;
    height: 3.25rem;
    text-decoration: none;
    background-color: black;
    border-radius: 0.25rem;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1rem 3rem;
}

@media (min-width:768px) {
    .container-projects {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    .title-project {
        text-align: left;
    }

    .description-project {
        text-align: left;
    }

    .link-project {
        margin-right: 1rem;
    }

    .img-project {
        width: 450px;
        height: 250px;
    }

    .description-project,
    .link-project,
    .link-repo {
        font-size: 1.75rem;
    }

    .link-project,
    .link-repo {
        height: auto;
    }

}