html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Maven Pro', sans-serif;
    background-color: black;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}